@import "normalize";
@import "icons";
@import "fonts/ds-behrensschrift";
@import "fonts/alata-regular";
@import "footer";
@import "ol-iiif";
@import "share";
/* Fonts */
$font-color-heading: #402913;
$font-color-body: #1f170f;
$font-face-header: 'DS Behrensschrift';
$font-face-body: 'Alata Regular';
/* Colors */
$body-bg-color: #f7f1e8;
/* Content area */
$content-width: 64em;
$home-bg-color: #333;
/* Header and Footer */
@import "iiif";

body,
html {
    min-height: 100%;
    margin: 0;
    background-color: $body-bg-color;
}

.header {
    width: 100%;
    /* background-color: $frame-bg-color; */
    height: 6em;

    .header-container {
        width: $content-width;
        margin: auto;
        padding: 0.6em;

        .header-title {
            color: $font-color-heading;
            font-family: $font-face-header;
            font-size: 3em;
            margin-block-start: 0.2em;
            margin-block-end: 0.2em;
        }

        .menu {
            font-family: $font-face-body;
            color: $font-color-body;
            margin-top: 0.4em;
            float: right;
        }
    }
}

.page-wrapper {
    position: relative;
    min-height: 100vh;

    .main {
        font-family: $font-face-body;
        padding-bottom: 4.6em;

        .post {
            padding: 0.8em;
            margin: auto;
            max-width: $content-width;
        }
    }
}
/* Book size settings */
$book-width: 240px;
$book-height: 320px;
$book-padding: 3rem;
$book-transition-open: 1s;
$book-open-scale: 1.05;

/* Flip Effect: https://codepen.io/Podgro/pen/yeEqPW */
.shelf-container {
    background-color: $home-bg-color;
    box-shadow: 0 -.3rem 0.3rem $home-bg-color, 0 0.3rem 0.3rem $home-bg-color;
    min-height: calc(100vh - 9em);
    padding-top: 1em;

    .shelf {
        max-width: $content-width;
        margin: auto;

        .book-list {
            padding-inline-start: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;

            .book-li {
                position: relative;
                display: inline-flex;
                transition: flex-basis linear .5s;
                flex-basis: $book-width;

                &.open {
                    flex-basis: calc(#{$book-width} * 2 + #{$book-padding} * 2);
                    /* justify-content: flex-end; */
                    .context {
                        margin: unset;
                    }

                    .book-spine {
                        display: none;
                    }
                }
            }

            .context {
                height: 100%;
                max-width: $content-width;
                margin: 0 auto;
                text-align: center;
                position: relative;


                .tilt {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    perspective: 1000px;
                    transform-style: preserve-3d;
                    overflow: visible;
                    padding: $book-padding;
                }

            }

            .book-wrap {
                transition: all ease-out 0.6s;
                margin: 0 auto;
                position: relative;
                transform-style: preserve-3d;
                height: 100%;
                width: 100%;
                backface-visibility: visible;
                transform: rotateY(0deg);

                &.rotate {
                    transform: rotateY(20deg);
                }

                .preview {
                    box-sizing: border-box;
                    transform-style: preserve-3d;
                    transform-origin: left center;
                    transition: transform 1s ease-in-out .5s;
                    z-index: 10;
                }

                .back,
                .front,
                .page1,
                .page2,
                .page3,
                .page4,
                .page5,
                .page6 {

                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    transform-style: preserve-3d;
                    position: absolute;
                    width: $book-width;
                    /*height: 100%;*/
                    top: 0;
                    left: 0;
                    /* Used for Content */
                    transform-origin: left center;
                    transition: transform 1s ease-in-out .5s;
                    transform: rotateY(-0deg) scale(1);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;

                    .page-content {
                        padding: 1rem;
                        backface-visibility: hidden;
                        /* overflow: hidden; */
                    }
                    &.open {
                        backface-visibility: unset;
                    }
                }

                .front,
                .page1,
                .page3,
                .page5 {
                    border-bottom-right-radius: 0.5em;
                    border-top-right-radius: 0.5em;

                    .page-content {
                        transform: rotateY(-180deg);
                        max-height: inherit;
                    }
                }

                .back,
                .page2,
                .page4,
                .page6 {
                    border-bottom-right-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                }

                .page1 {
                    background-color: darken($body-bg-color, 10%);
                }

                .page2 {
                    background-color: darken($body-bg-color, 10%);
                }

                .page3 {
                    background-color: darken($body-bg-color, 5%);
                }

                .page4 {
                    background-color: darken($body-bg-color, 5%);
                }

                .page5 {
                    background-color: $body-bg-color;
                }

                .page6 {
                    background-color: $body-bg-color;
                }

                .preview.open {
                    transform: rotateY(-165deg) scale($book-open-scale);
                }

                .page1.open {
                    transform: rotateY(-155deg) scale($book-open-scale);

                }

                .page2.open {
                    transform: rotateY(-15deg) scale($book-open-scale);

                }

                .page3.open {
                    transform: rotateY(-145deg) scale($book-open-scale);

                }

                .page4.open {
                    transform: rotateY(-25deg) scale($book-open-scale);

                }

                .page5.open {
                    transform: rotateY(-135deg) scale($book-open-scale);

                }

                .page6.open {
                    transform: rotateY(-35deg) scale($book-open-scale);

                }
            }

            .book-back {
                content: "";
                height: 600px;
                width: 60px;
                position: absolute;
                right: 0;
                left: -401px;
                top: 0;
                bottom: 0;
                margin: auto;
                background: #AB4747;
                transform: rotateY(-80deg) translateX(-14px);
            }

            .book {
                color: white;
                width: $book-width;
                /* height: $book-height; */
                background-repeat: no-repeat;
                background-size: auto 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: relative;

                .preview {
                    width: $book-width;
                }
            }

            .book-spine {
                content: "";
                /* height: $book-height; */
                width: 30px;
                position: absolute;
                right: 0;
                left: calc(0px - #{$book-width} - 1px);
                top: 0;
                bottom: 0;
                margin: auto;
                background: #51361A;
                transform: rotateY(-80deg) translateX(-14px);
            }

            .close-book {
                display: none;
                transition: opacity linear 0.5s;
                opacity: 0;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0.5em;
                top: 1em;
                right: 1em;
                border: 0;
                cursor: pointer;
                background-image: url($close-dark);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;
                border: solid rgba(255, 255, 255, .8);
                border-radius: 50%;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.2s;
                }
            }

            .post-content {
                display: none;
                /* background-color: $info-bg-color; */
            }

            .post-content.active {
                display: block;
            }
        }
    }
}

.footer {
    width: 100%;
    /* background-color: $footer-bg-color; */
    .credit {
        font-weight: 400;
        margin: auto;
        padding: 1.5em 1.5em 0.5em;
        width: $content-width;
        box-sizing: border-box;

        .colophon {
            margin: auto;
            width: 70%;
            border-top-color: $font-color-body;
            border-top-width: 1px;
            border-top-style: solid;
            margin-top: 1rem;

            p {
                margin: 0.4rem;
                text-align: center;
            }
        }
    }
}

.date {
    float: right;
}

.content {
    p {
        line-height: 1.5;
    }
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    color: $font-color-body;
}

footer.footer {
    position: absolute;
    bottom: 0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    height: 3em;
    width: 100%;
    font-family: $font-face-body;
    color: $font-color-body;
    margin: auto;

    .footer-container {
        text-align: center;
        font-size: unset;
        line-height: 1.4;
        margin-top: unset;

        p {
            display: block;
            margin-block-start: 0;
            margin-block-end: 0;
        }
    }
}
