{{- $front := .Resources.GetMatch "front*" -}}
{{- if eq $front nil -}}
    {{- $front := .CurrentSection.Resources.GetMatch "front*" -}}
{{- end -}}
{{- $frontThumb := "" -}}
{{- if ne $front nil -}}
    {{- $frontThumb = $front.Resize "330x" -}}
{{- end -}}
<div class="list-entry">
    <a href="{{ .RelPermalink }}">
        {{- if ne $front nil -}}
            <div class="preview-image">
                <img class="preview" src="{{ $frontThumb.RelPermalink }}" alt="{{ .Title }}">
            </div>
        {{- end -}}
        <div class="list-content">
            <div class="date">
                {{- .Date | time.Format ":date_full" -}}
                {{/*
                    {{- partial "date.html" . -}}
                */}}
            </div>
            <h1 class="post-title">{{ .Title }}</h1>
            <div class="post-body">
                {{ .Summary }}
            </div>
         </div>
     </a>
</div>
