{{- $page := .Page -}}
{{- $context := path.Dir .File.Path -}}
{{- $pageURL := .Permalink -}}
<div class="post-container post {{ .Params.type }}">
    <div class="open-book">
        <div class="previous-page-1"></div>
        <div class="content">
            {{/*
            {{- if not .Params.metaPage -}}
              <div class="date">
                {{- .Date | time.Format ":date_full" -}}
              </div>
            {{- end -}}
            */}}
            <h1 class="post-title">{{ .Title }}</h1>
            {{- if not .Params.metaPage -}}
              <div class="date">
                <a href="{{ .RelPermalink }}">
                  {{- .Date | time.Format ":date_full" -}}
                </a>
              </div>
            {{- end -}}
            {{- if .Params.audio -}}
              {{- $audio := .Resources.GetMatch "audio" -}}
              {{- with $audio -}}
                {{- $src := .RelPermalink -}}
                {{- partial "media/audioplayer.html" (dict "context" . "src" $src "autoplay" false) -}}
              {{- end -}}
            {{- end -}}
            {{- $contentClass := "" -}}
            {{- if .Params.type -}}
              {{- $contentClass = .Params.type -}}
            {{- end -}}
            <div class="post-body {{ $contentClass | safeCSS }}">
              {{ .Content }}
            </div>
            {{- if and (eq .Kind "section") (gt (len .Pages) 0) -}}
              <div class="post-relations">
                {{- $currentSectionDir := "" -}}
                {{- if and (ne .CurrentSection.File nil) (ne .CurrentSection.File.Dir nil) -}}
                  {{- $currentSectionDir = .CurrentSection.File.Dir -}}
                {{- end -}}
                {{- if or (eq .Kind "section") (ne $currentSectionDir "") -}}
                  {{- partial "post-relations" . -}}
                {{- end -}}
              </div>
            {{- end -}}

            {{- if .Params.iiif -}}
                <div class="iiif">
                  {{- range .Params.resources -}}
                    {{- if or (and (ne $.Params.type "work") (ne $.Params.type "book")) (not (or (or (eq .name "front") (eq .name "title")) (eq .name "cover"))) -}}
                      {{- if .params.iiif -}}
                        {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page "site" $.Site) }}
                      {{- end -}}
                    {{- end -}}
                  {{- end -}}
                </div>
            {{- end -}}

            {{- if and .Params.type (or .Params.description .Params.bookTitle) -}}
                {{- partial (printf "media/%s.html" .Params.type ) . -}}
            {{- end -}}

            {{- if not .Params.metaPage -}}
                <div class="meta">
                  {{ partial "meta/tags.html" . }}
                </div>
            {{ end }}
         </div>
         <div class="following-page-1"></div>
         <div class="following-page-2"></div>

     </div>

</div>
